<ion-header>
  <ion-toolbar color="primary" >
    <ion-item color="primary" lines="none">
        <ion-label></ion-label>
        <span *ngIf="value==0" class="flag-icon flag-icon-fi"></span>
        <span *ngIf="value==2" class="flag-icon flag-icon-gb"></span>
        <span *ngIf="value==1" class="flag-icon flag-icon-se"></span>
        <ion-select [(ngModel)]="value">
          <ion-select-option [value]="0" selected>FIN</ion-select-option>
          <ion-select-option [value]="2">EN</ion-select-option>
          <ion-select-option [value]="1">SE</ion-select-option>
        </ion-select>
    </ion-item>
  </ion-toolbar>
 </ion-header>

<ion-content padding>
  <h1 *ngIf="value==0" style="text-align: center">Yrityshaku</h1>
  <h1 *ngIf="value==1" style="text-align: center">Sök ett företag</h1>
  <h1 *ngIf="value==2" style="text-align: center">Search company</h1>
  <form>
      <ion-item>
        <ion-label *ngIf="value==0">Y-Tunnus</ion-label>
        <ion-label *ngIf="value==1">FO-number</ion-label>
        <ion-label *ngIf="value==2">Business ID</ion-label>
        <ion-input type="text" [(ngModel)]="id" name="id" minlength="6"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label *ngIf="value==0">Nimi</ion-label>
        <ion-label *ngIf="value==1">Namn</ion-label>
        <ion-label *ngIf="value==2">Name</ion-label>
        <ion-input type="text" [(ngModel)]="name" name="name" minlength="3"></ion-input>
      </ion-item>
      <ion-button *ngIf="value==0" (click)="search()" type="submit" expand="block">Etsi</ion-button>
      <ion-button *ngIf="value==1" (click)="search()" type="submit" expand="block">Sök</ion-button>
      <ion-button *ngIf="value==2" (click)="search()" type="submit" expand="block">Search</ion-button>
    </form>
      <ion-item *ngFor="let item of data">
        <h2>{{ item.names[0].name }}</h2>
        <ion-button *ngIf="value==0" (click)="go(item)" slot="end">Avaa</ion-button>
        <ion-button *ngIf="value==1" (click)="go(item)" slot="end">öppna</ion-button>
        <ion-button *ngIf="value==2" (click)="go(item)" slot="end">View</ion-button>
      </ion-item>
</ion-content>
