<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="data">{{ data.names[i].name }}</ion-title>
    </ion-toolbar>
   </ion-header>

<ion-content padding *ngIf="data">
  <ion-list  lines="none">
    <ion-item>
      <p>Yritysmuoto</p> 
      <p slot="end">{{ data.companyForms[i].name }}</p>
    </ion-item>
    <ion-item>
      <p>Päätoimiala</p> 
      <p slot="end">{{ data.businessLines[i].name }}</p>
    </ion-item>
    <ion-item>
      <p>Kieli</p> 
      <p slot="end"> {{ data.languages[i].name }}</p>
    </ion-item>
    <ion-item>
      <p>Kotipaikka</p> 
      <p slot="end">{{ data.registedOffices[i].name }}</p>
    </ion-item>
    <p *ngIf="data.contactDetails[i]">yhteystiedot {{ data.contactDetails[i].name }}</p><br>
  <ion-item>
    <p>Osoite</p>
    <p>{{ data.addresses[0].street }}</p>
    <p>{{ data.addresses[0].postCode }}</p>
    <p>{{ data.addresses[0].city }}</p>
  </ion-item>
  </ion-list>
</ion-content>
